#centro-distribuicao{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#centro-distribuicao img{
    width: 100%;
}

#familia-pelho{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#familia-pelho img{
    width: 100%;
}

#rodape{
    margin: 0;
}

